// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * layout/_header.scss
 */
.header {
	background-color: $primary-nav-bg-color;
	z-index: 1000;
	border-radius: 0;
	border: 0;
	margin: 0;

	.brand {

		.navbar-brand {
		font-size: 14px;
		font-weight: 600;
		padding-top: 0;
		padding-bottom: 0;
		line-height: 50px;
		margin-right: 15px;
		margin-left: -15px;
		z-index: 1;
	    position: relative;
	    
			img {
			    max-height: 50px;
			    margin-right: 15px;
			}
		}
	}
}

.nav-label-beta {
    text-transform: uppercase;
    font-size: 70%;
    padding: 0 0 0 25px;
    color: #909192;
    cursor: default;
    margin: 0;
    height: 50px;
    line-height: 52px;
    position: absolute;
    top: 0;
    pointer-events: none;
    right: 5px;
}
//For auto hiding navigation (headroom(js))
.headroom {
	will-change: transform;
	@include transition(transform .2s ease-out);
	&--pinned {
		@include transform-translateY(0);
	}
	&--unpinned {
		@include transform-translateY(-100%);
	}
}
.double-nav {
	.headroom {
		&--unpinned {
			@include transform-translateY(-50%);
		}
	}
}