// Button-specific variables
//$button-color: $secondary-color;

// … include any button-specific:
// - mixins
// - placeholders
// - functions

.btnTitle {
    color: $header-text-color;
    font-size: $header-icon-text-size;
    display: block;
    font-weight: $base-nav-font-weight;
}