.overlay {
	padding-top: 50px;
	padding-left: 20px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 9999;

	/* Overlay closing cross */
	& .overlay-close {
		width: 80px;
		height: 80px;
		position: relative;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url(../img/cross.png) no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}


}

