// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */

a {
	color: $primary-link-color; 
	&.button {
		color: $primary-link-color; 
	}
	&:hover {
		color: $primary-hover-color;
	}
	&, &:hover, &:visited, &:active, &:focus {
		text-decoration: none;
		outline: 0;
	} 
}
main {
    margin-top: 50px;

    .double-nav & {
    	margin-top: 100px;
    }
}
